.carouselMainContainer {
  overflow: hidden;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carouselItemsContainer {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.carousel-item-text {
  font-size: 1.15rem;
  color: #617d98;
}
.carousel-img {
  width: 250px;
}

.carouselButtonsContainer {
  display: flex;
  justify-content: space-evenly;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: #26343f;
}

.indicator-symbol-active {
  color: #ffffff;
}
