#projectsMaincontainer {
  height: 100vh;
  display: flex;
}

#projectsSignContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #projectsRightContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/*~~~~~CSS for desktop view~~~~~*/
@media only screen and (min-width: 900px) {
  #projectsMainContainer {
    display: flex;
    flex-direction: column;
  }

  #projectsCarouselContainer {
    display: flex;
    justify-content: center;
  }

  /* #projectsRightContainer {
    width: 50%;
  } */

  #driveInSign {
    height: 90%;
    /* width: 90%; */
  }

  .driveInStart {
    opacity: 0;
  }

  .driveInTranslate {
    animation-name: driveInTranslateAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }

  @keyframes driveInTranslateAnimation {
    from {
      /* transform: translateX(-200px); */
      opacity: 0;
    }
    to {
      /* transform: translateX(0); */
      opacity: 1;
    }
  }

  /* .carouselStart {
    opacity: 0;
  }

  .carouselTranslate {
    animation-name: carouselTranslateAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }

  @keyframes carouselTranslateAnimation {
    from {
      transform: translateX(200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  } */
}

/*~~~~~CSS for landscape mobile view~~~~~*/
@media only screen and (min-width: 600px) and (max-width: 900px) {
  #projectsMainContainer {
    display: flex;
  }

  #projectsLeftContainer {
    width: 50%;
  }

  #projectsRightContainer {
    width: 50%;
  }

  #driveInSign {
    height: 90%;
    width: 90%;
  }
}

/*~~~~~CSS for portrait mobile view~~~~~*/
@media only screen and (max-width: 600px) {
  #projectsMainContainer {
    display: flex;
    flex-direction: column;
  }

  #driveInSign {
    height: 90%;
    width: 90%;
  }
}
