#projectsSignContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #projectsRightContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/*~~~~~CSS for desktop view~~~~~*/
@media only screen and (min-width: 900px) {
  #projectsMainContainer {
    display: flex;
    height: 100vh;
  }

  #projectsCarouselContainer {
    display: flex;
    justify-content: center;
  }

  /* #projectsRightContainer {
    width: 50%;
  } */

  #driveInSign {
    height: 90%;
    width: 80%;
  }

  .driveInStart {
    opacity: 0;
  }

  .driveInTranslate {
    animation-name: driveInTranslateAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }

  @keyframes driveInTranslateAnimation {
    from {
      /* transform: translateX(-200px); */
      opacity: 0;
    }
    to {
      /* transform: translateX(0); */
      opacity: 1;
    }
  }

  /* .carouselStart {
    opacity: 0;
  }

  .carouselTranslate {
    animation-name: carouselTranslateAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }

  @keyframes carouselTranslateAnimation {
    from {
      transform: translateX(200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  } */

  /* For curtain opening effect on carousel */
  .curtain {
    width: 100%; /* Ensures the component is the full screen width */
    height: 100vh; /* We're using this for demo purposes */
    overflow: hidden; /* Allows us to slide the panels outside the container without them showing */
  }

  .curtain__wrapper {
    width: 100%;
    height: 100%;
  }

  .curtain__panel {
    /* background: orange; */
    width: 50%; /* Each panel takes up half the container */
    height: 75vh;
    float: left; /* Makes sure panels are side-by-side */
    position: relative; /* Needed to define the z-index */
    z-index: 2; /* Places the panels in front of the prize */
    transition: all 4s ease-out; /* Animates the sliding transition */
  }

  .curtain__panel--left {
    transform: translateX(-60%);
  }

  /* Slide the panel to the right out of the container */
  .curtain__panel--right {
    transform: translateX(60%);
  }

  .curtain__prize {
    background: #333;
    position: absolute; /* Forces the prize position into the container start */
    z-index: 1; /* Places the prize behind the panels, which are z-index 2 */
    width: 100%;
    height: 100%;
  }
}

/*~~~~~CSS for mobile landscape view~~~~~*/
@media only screen and (min-width: 600px) and (max-width: 900px) {
  #projectsMainContainer {
    display: flex;
    height: 100vh;
  }

  #projectsCarouselContainer {
    display: flex;
    justify-content: center;
  }

  /* #projectsRightContainer {
    width: 50%;
  } */

  #driveInSign {
    height: 80%;
    width: 70%;
  }

  .driveInStart {
    opacity: 0;
  }

  .driveInTranslate {
    animation-name: driveInTranslateAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }

  @keyframes driveInTranslateAnimation {
    from {
      /* transform: translateX(-200px); */
      opacity: 0;
    }
    to {
      /* transform: translateX(0); */
      opacity: 1;
    }
  }

  /* .carouselStart {
    opacity: 0;
  }

  .carouselTranslate {
    animation-name: carouselTranslateAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }

  @keyframes carouselTranslateAnimation {
    from {
      transform: translateX(200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  } */

  /* For curtain opening effect on carousel */
  .curtain {
    width: 100%; /* Ensures the component is the full screen width */
    height: 100vh; /* We're using this for demo purposes */
    overflow: hidden; /* Allows us to slide the panels outside the container without them showing */
  }

  .curtain__wrapper {
    width: 100%;
    height: 100%;
  }

  .curtain__panel {
    /* background: orange; */
    width: 50%; /* Each panel takes up half the container */
    height: 75vh;
    float: left; /* Makes sure panels are side-by-side */
    position: relative; /* Needed to define the z-index */
    z-index: 2; /* Places the panels in front of the prize */
    transition: all 4s ease-out; /* Animates the sliding transition */
  }

  .curtain__panel--left {
    transform: translateX(-60%);
  }

  /* Slide the panel to the right out of the container */
  .curtain__panel--right {
    transform: translateX(60%);
  }

  .curtain__prize {
    background: #333;
    position: absolute; /* Forces the prize position into the container start */
    z-index: 1; /* Places the prize behind the panels, which are z-index 2 */
    width: 100%;
    height: 100%;
  }
}

/*~~~~~CSS for mobile portrait view~~~~~*/
@media only screen and (max-width: 600px) {
  #projectsMainContainer {
    display: flex;
    /* height: 100vh; */
  }

  #projectsCarouselContainer {
    display: flex;
    justify-content: center;
  }

  /* #projectsRightContainer {
    width: 50%;
  } */

  #driveInSign {
    height: 320px;
    width: 375px;
  }

  .driveInStart {
    opacity: 0;
  }

  .driveInTranslate {
    animation-name: driveInTranslateAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }

  @keyframes driveInTranslateAnimation {
    from {
      /* transform: translateX(-200px); */
      opacity: 0;
    }
    to {
      /* transform: translateX(0); */
      opacity: 1;
    }
  }

  /* .carouselStart {
    opacity: 0;
  }

  .carouselTranslate {
    animation-name: carouselTranslateAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }

  @keyframes carouselTranslateAnimation {
    from {
      transform: translateX(200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  } */

  /* For curtain opening effect on carousel */
  .curtain {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .curtain__wrapper {
    width: 100%;
    height: 100%;
  }

  .curtain__panel {
    width: 50%;
    height: 75vh;
    float: left;
    position: relative;
    z-index: 2;
    transition: all 4s ease-out;
  }

  .curtain__panel--left {
    transform: translateX(-60%);
  }

  .curtain__panel--right {
    transform: translateX(60%);
  }

  .curtain__prize {
    background: #333;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}
