@font-face {
  font-family: "Airstream";
  src: local("Airstream"), url("./fonts/Airstream.woff") format("woff");
}

@font-face {
  font-family: "Mollie";
  src: local("Mollie"), url("./fonts/Mollie.ttf") format("truetype");
}

@font-face {
  font-family: "ThickDeco";
  src: local("ThickDeco"), url("./fonts/ThickDeco.ttf") format("truetype");
}

@font-face {
  font-family: "Hastag";
  src: local("Hastag"), url("./fonts/Hastag.woff") format("woff");
}

@font-face {
  font-family: "Avaneonz";
  src: local("Avaneonz"), url("./fonts/Avaneonz.ttf") format("truetype");
}

@font-face {
  font-family: "Goldsaber";
  src: local("Goldsaber"), url("./fonts/Goldsaber.ttf") format("opentype");
}

@font-face {
  font-family: "Wabene";
  src: local("Wabene"), url("./fonts/Wabene.ttf") format("truetype");
}

@font-face {
  font-family: "Bencolene-Vintage";
  src: local("Bencolene-Vintage"),
    url("./fonts/Bencolene-Vintage.ttf") format("truetype");
}

@font-face {
  font-family: "Dymaxion";
  src: local("Dymaxion"), url("./fonts/Dymaxion.ttf") format("truetype");
}

@font-face {
  font-family: "Fashion";
  src: local("Fashion"), url("./fonts/FASHIONV.ttf") format("truetype");
}

@font-face {
  font-family: "Maraton";
  src: local("Maraton"), url("./fonts/Maraton.ttf") format("truetype");
}

@font-face {
  font-family: "Fungus";
  src: local("Fungus"), url("./fonts/Fungus.ttf") format("truetype");
}

@font-face {
  font-family: "Wetware";
  src: local("Wetware"), url("./fonts/Wetware.ttf") format("truetype");
}
