@font-face {
  font-family: "Airstream";
  src: local("Airstream"), url("./fonts/Airstream.woff") format("woff");
}

@font-face {
  font-family: "Mollie";
  src: local("Mollie"), url("./fonts/Mollie.ttf") format("truetype");
}

@font-face {
  font-family: "ThickDeco";
  src: local("ThickDeco"), url("./fonts/ThickDeco.ttf") format("truetype");
}

@font-face {
  font-family: "Hastag";
  src: local("Hastag"), url("./fonts/Hastag.woff") format("woff");
}

@font-face {
  font-family: "Avaneonz";
  src: local("Avaneonz"), url("./fonts/Avaneonz.ttf") format("truetype");
}

@font-face {
  font-family: "Goldsaber";
  src: local("Goldsaber"), url("./fonts/Goldsaber.otf") format("otf");
}

@font-face {
  font-family: "Wabene";
  src: local("Wabene"), url("./fonts/Wabene.ttf") format("truetype");
}
