/*~~~~~CSS for desktop view~~~~~*/
@media only screen and (min-width: 900px) {
  #driveInSign1 {
    display: none;
  }
}

/*~~~~~CSS for mobile landscape view~~~~~*/
@media only screen and (min-width: 600px) and (max-width: 900px) {
  #driveInSign1 {
    display: none;
  }
}

/*~~~~~CSS for mobile portrait view~~~~~*/
@media only screen and (max-width: 600px) {
  #driveInSign2 {
    display: none;
  }
}

#driveInMainContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.driveInStart {
  opacity: 0;
}

.driveInTranslate {
  animation-name: driveInTranslateAnimation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes driveInTranslateAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#driveInSign1 {
  height: 45%;
}

#driveInSign2 {
  height: 80%;
  width: 100%;
}
