* {
  padding: 0px;
  margin: 0px;
}

#appBackground {
  position: fixed;
  background-color: #ebd5b8;
}

#componentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.noScroll {
  overflow: hidden; /* Prevents scrolling */
  height: 100vh; /* Ensures the body takes full height */
}
