* {
  padding: 0px;
  margin: 0px;
}

h1 {
  text-align: center;
}

#app-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

#nav-container {
  height: 50px;
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid lightgrey;
}

.nav-invisible {
  display: none;
}

.nav-visible {
  display: block;
  position: fixed;
  background-color: white;
}
