* {
  padding: 0px;
  margin: 0px;
}

#appBackground {
  position: fixed;
  background-color: #ebd5b8;
}

#componentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* class to disable scrolling */
.noScroll {
  overflow: hidden;
  height: 100vh;
}
