#aboutLeftContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutRightContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#aboutMe {
  font-family: Wagoon;
}

#me {
  border-radius: 50%;
}

/*~~~~~CSS for desktop view~~~~~*/
@media only screen and (min-width: 900px) {
  #aboutMainContainer {
    display: flex;
    height: 100vh;
  }

  #aboutLeftContainer {
    width: 50%;
  }

  #aboutRightContainer {
    width: 50%;
  }

  #me {
    height: 70%;
    height: 70%;
  }

  #aboutMe {
    width: 75%;
    font-size: 65px;
    text-indent: 50px;
  }

  .about_me {
    transition: all 1.5s ease-out; /* Animates the sliding transition */
  }

  .about_me-left-start {
    transform: translateX(100px);
    opacity: 0;
  }

  .about_me-right-start {
    transform: translateX(-100px);
    opacity: 0;
  }

  .about_me-left {
    transform: translateX(0px);
    opacity: 1;
  }

  /* Slide the panel to the right out of the container */
  .about_me-right {
    transform: translateX(0px);
    opacity: 1;
  }
}

/*~~~~~CSS for landscape mobile view~~~~~*/
@media only screen and (min-width: 600px) and (max-width: 900px) {
  #aboutMainContainer {
    display: flex;
    height: 100vh;
  }

  #aboutLeftContainer {
    width: 50%;
  }

  #aboutRightContainer {
    width: 50%;
  }

  #me {
    height: 80%;
    height: 80%;
  }

  #aboutMe {
    height: 50%;
    width: 50%;
  }

  #aboutMe {
    width: 80%;
    font-size: 20px;
    text-indent: 50px;
  }

  .about_me {
    transition: all 1.5s ease-out; /* Animates the sliding transition */
  }

  .about_me-left-start {
    transform: translateX(100px);
    opacity: 0;
  }

  .about_me-right-start {
    transform: translateX(-100px);
    opacity: 0;
  }

  .about_me-left {
    transform: translateX(0px);
    opacity: 1;
  }

  /* Slide the panel to the right out of the container */
  .about_me-right {
    transform: translateX(0px);
    opacity: 1;
  }
}

/*~~~~~CSS for portrait mobile view~~~~~*/
@media only screen and (max-width: 600px) {
  #aboutMainContainer {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

  #me {
    width: 275px;
    height: 275px;
  }

  #aboutMe {
    width: 80%;
    font-size: 30px;
    text-indent: 50px;
  }

  .about_me {
    transition: all 1s ease-out; /* Animates the sliding transition */
  }

  .about_me-left-start {
    transform: translateY(100px);
    opacity: 0;
  }

  .about_me-right-start {
    transform: translateY(100px);
    opacity: 0;
  }

  .about_me-left {
    transform: translateY(0px);
    opacity: 1;
  }

  /* Slide the panel to the right out of the container */
  .about_me-right {
    transform: translateY(0px);
    opacity: 1;
  }
}
