#aboutMainContainer {
  height: 100vh;
  display: flex;
  background-image: url("../../../images/graphics/background2.jpg");
  background-repeat: repeat;
  background-blend-mode: overlay;
  background-color: rgb(255, 255, 255, 0.5);
}

.aboutContainer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .aboutBackground {
  width: 100%;
  height: 100%;
  opacity: 0.3;
} */

#helloSign {
  height: 80%;
  height: 80%;
  position: absolute;
  z-index: 1;
}

.startLeft {
  opacity: 0;
}

.slideRight {
  animation-name: slideRightAnimation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes slideRightAnimation {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#me {
  height: 50%;
  height: 50%;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

.startRight {
  opacity: 0;
}

.slideLeft {
  animation-name: slideLeftAnimation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes slideLeftAnimation {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  #right-container {
    width: 100%;
    border: 1px solid black;
  }

  #left-container {
    display: none;
  }

  #helloSign {
    display: none;
  }
}
