#homeMainContainer {
  height: 100vh;
  width: 100vw;
  background-color: #ebd5b8;
}

#homeInfoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.homeInfoText {
  text-align: center;
}

#homeName {
  font-family: Wagoon;
  font-size: 120px;
}

#homeTitle {
  font-family: Airstream;
  font-size: 50px;
}

#iconsDiv {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon {
  width: 30px;
  height: 30px;
}

/* css for mobile portrait view */
@media only screen and (max-width: 600px) {
  #homeName {
    font-size: 90px;
  }

  #homeTitle {
    font-size: 25px;
  }
}
