#home-container {
  height: 100vh;
  background-color: lightgrey;
}

#home-info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.home-info {
  text-align: center;
}

#home-name {
  font-family: Wetware;
  letter-spacing: 0.06em;
  font-size: 125px;
}

#home-title {
  font-family: Maraton;
  font-size: 25px;
}

/* @media only screen and (max-width: 600px) {
  .app {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .app {
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
  }
}

@media only screen and (min-width: 900px) {
  .app {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    height: 100vh;
  }
} */
